.u-section-1 .u-sheet-1 {
  min-height: 423px;
}

.u-section-1 .u-group-1 {
  min-height: 425px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-line-1 {
  transform-origin: center top 0px;
  left: auto;
  top: 114px;
  position: absolute;
  height: 269px;
  right: 482px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-line-2 {
  width: 338px;
  transform-origin: right center 0px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 0 0 654px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-style: italic;
  margin: -168px 485px 0 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 1rem;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(128,128,128,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  border-style: solid;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
  margin: -65px 0 0 auto;
  padding: 8px 20px 8px 19px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 1rem;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(128,128,128,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  border-style: solid;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
  margin: -47px 235px 0 auto;
  padding: 8px 20px 8px 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 454px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 285px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 234px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -168px;
    margin-right: 65px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -47px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-2 {
    width: 320px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 647px;
}

.u-section-2 .u-group-1 {
  min-height: 647px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-line-1 {
  width: 318px;
  transform-origin: right center 0px;
  margin: 10px auto 0;
}

.u-section-2 .u-video-1 {
  width: 853px;
  height: 480px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 30px auto 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-video-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-video-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-video-1 {
    width: 340px;
    height: 191px;
  }
}

.u-section-2 .u-video-1,
.u-section-2 .u-video-1:before,
.u-section-2 .u-video-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-video-1.u-video-1.u-video-1:hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #00875a !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-video-1 {
  border-style: solid !important;
}

.u-section-2 .u-video-1.u-video-1.u-video-1.hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #00875a !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-video-1 {
  border-style: solid !important;
}

.u-section-2 .u-container-layout:hover .u-video-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-video-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 689px;
}

.u-section-3 .u-group-1 {
  min-height: 689px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 26px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-line-1 {
  width: 227px;
  transform-origin: right center 0px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 0 0 10px;
}

.u-section-3 .u-image-1 {
  width: 521px;
  height: 293px;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: 35px 553px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 521px;
  height: 293px;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: -293px 0 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 3px 553px 0 auto;
}

.u-section-3 .u-text-4 {
  margin: -24px auto 0 889px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 68px;
  }

  .u-section-3 .u-line-1 {
    margin-top: -54px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 37px;
    margin-right: 376px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 20px;
    margin-right: 359px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 113px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 451px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 359px;
    margin-left: 724px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-top: -6px;
    margin-right: 156px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -371px;
    margin-right: 139px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 338px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 139px;
    margin-left: 543px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -803px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 879px;
    margin-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 520px;
    height: 292px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 520px;
    height: 292px;
    margin-top: 4px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -335px;
    margin-right: 266px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 314px;
    margin-right: 0;
    margin-left: 428px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-top: -722px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 814px;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 180px;
  }

  .u-section-3 .u-image-2 {
    width: 320px;
    height: 180px;
    margin-top: -84px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -135px;
    margin-right: 164px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 90px;
    margin-left: 263px;
  }
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before,
.u-section-3 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-2,
.u-section-3 .u-image-2:before,
.u-section-3 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-4 .u-sheet-1 {
  min-height: 802px;
}

.u-section-4 .u-group-1 {
  min-height: 802px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 27px;
}

.u-section-4 .u-text-1 {
  margin: 3px auto 0;
}

.u-section-4 .u-line-1 {
  width: 170px;
  transform-origin: right center 0px;
  margin: 10px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 563px 0 0;
}

.u-section-4 .u-image-1 {
  width: 521px;
  height: 293px;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: -273px 0 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 3px auto 0 769px;
}

.u-section-4 .u-image-2 {
  width: 521px;
  height: 293px;
  margin: 15px auto 0 0;
}

.u-section-4 .u-image-3 {
  width: 521px;
  height: 293px;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: -293px auto 0 556px;
}

.u-section-4 .u-text-4 {
  margin: 3px auto 0 246px;
}

.u-section-4 .u-text-5 {
  margin: -24px auto 0 867px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-2 {
    margin-right: 363px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 624px;
  }

  .u-section-4 .u-image-2 {
    margin-left: -3px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 20px;
    margin-left: 362px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 243px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 704px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 143px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -273px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 468px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -293px;
    margin-left: 142px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 182px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 528px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 520px;
    height: 292px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -42px;
    margin-left: 365px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 72px;
  }

  .u-section-4 .u-image-3 {
    width: 520px;
    height: 292px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: -38px;
    margin-left: 142px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 412px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    width: 320px;
    height: 180px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -130px;
    margin-left: 225px;
  }

  .u-section-4 .u-image-2 {
    width: 320px;
    height: 180px;
    margin-top: 160px;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    width: 320px;
    height: 180px;
    margin-top: -180px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 87px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 254px;
  }
}

.u-section-4 .u-image-3,
.u-section-4 .u-image-3:before,
.u-section-4 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before,
.u-section-4 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-5 .u-sheet-1 {
  min-height: 467px;
}

.u-section-5 .u-group-1 {
  min-height: 467px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 27px;
}

.u-section-5 .u-text-1 {
  margin: 3px auto 0;
}

.u-section-5 .u-line-1 {
  width: 185px;
  transform-origin: right center 0px;
  margin: 10px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 551px 0 0;
}

.u-section-5 .u-image-1 {
  width: 521px;
  height: 293px;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: -315px 0 0 auto;
}

.u-section-5 .u-text-3 {
  margin: 3px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-2 {
    margin-right: 351px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 423px;
    margin-left: 704px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 131px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -315px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 134px;
    margin-left: 528px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 520px;
    height: 292px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 356px;
    margin-left: 412px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    width: 320px;
    height: 180px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 268px;
    margin-left: 254px;
  }
}

.u-section-5 .u-image-1,
.u-section-5 .u-image-1:before,
.u-section-5 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-6 .u-sheet-1 {
  min-height: 508px;
}

.u-section-6 .u-group-1 {
  min-height: 534px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 26px;
}

.u-section-6 .u-text-1 {
  margin: 0 auto;
}

.u-section-6 .u-line-1 {
  width: 191px;
  transform-origin: right center 0px;
  margin: 10px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 553px 0 10px;
}

.u-section-6 .u-image-1 {
  width: 521px;
  height: 293px;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: -196px 0 0 auto;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  margin: -77px 553px 0 10px;
}

.u-section-6 .u-text-4 {
  margin: -88px 0 0 830px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    min-height: 1564px;
    height: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: 68px;
  }

  .u-section-6 .u-line-1 {
    margin-top: -54px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 37px;
    margin-right: 376px;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    margin-top: 426px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 351px;
    margin-right: 363px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-top: -519px;
    margin-right: 359px;
    margin-left: 724px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    min-height: 534px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -6px;
    margin-right: 156px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -196px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 143px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 139px;
    margin-left: 543px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -803px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 879px;
    margin-right: 10px;
  }

  .u-section-6 .u-image-1 {
    width: 520px;
    height: 292px;
    margin-top: -75px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1rem;
    margin-top: -57px;
    margin-right: 3px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -93px;
    margin-right: 0;
    margin-left: 428px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-top: -722px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 814px;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    width: 320px;
    height: 180px;
    margin-top: -275px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -9px;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-top: -266px;
    margin-left: 263px;
  }
}

.u-section-6 .u-image-1,
.u-section-6 .u-image-1:before,
.u-section-6 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-7 .u-sheet-1 {
  min-height: 2321px;
}

.u-section-7 .u-group-1 {
  min-height: 2321px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-7 .u-text-1 {
  margin: 10px auto 0;
}

.u-section-7 .u-line-1 {
  width: 242px;
  transform-origin: right center 0px;
  margin: 10px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  margin: 44px 581px 0 30px;
}

.u-section-7 .u-image-1 {
  width: 521px;
  height: 729px;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: -378px 30px 0 auto;
}

.u-section-7 .u-image-2 {
  width: 526px;
  height: 432px;
  margin: -321px auto 0 27px;
}

.u-section-7 .u-image-3 {
  width: 521px;
  height: 667px;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: -92px 30px 0 auto;
}

.u-section-7 .u-image-4 {
  width: 397px;
  height: 556px;
  margin: -556px auto 0 91px;
}

.u-section-7 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 29px 646px 0 30px;
}

.u-section-7 .u-image-5 {
  width: 576px;
  height: 312px;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: -272px 30px 0 auto;
}

.u-section-7 .u-image-6 {
  width: 466px;
  height: 404px;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: -21px auto 0 27px;
}

.u-section-7 .u-text-4 {
  margin: -380px 30px 0 817px;
}

.u-section-7 .u-image-7 {
  width: 576px;
  height: 312px;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: 43px auto 0 525px;
}

.u-section-7 .u-text-5 {
  margin: 3px 33px 0 861px;
}

.u-section-7 .u-text-6 {
  margin: -24px 641px 0 253px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-text-2 {
    margin-right: 411px;
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-7 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-7 .u-image-4 {
    margin-top: 20px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 476px;
    margin-left: 0;
  }

  .u-section-7 .u-image-5 {
    margin-top: 20px;
  }

  .u-section-7 .u-image-6 {
    margin-top: 20px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
    margin-left: 647px;
  }

  .u-section-7 .u-image-7 {
    margin-left: 364px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 0;
    margin-left: 694px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 541px;
    margin-left: 153px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-2 {
    margin-right: 191px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -378px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -321px;
  }

  .u-section-7 .u-image-3 {
    margin-top: -92px;
  }

  .u-section-7 .u-image-4 {
    margin-top: -556px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 256px;
  }

  .u-section-7 .u-image-5 {
    margin-top: -272px;
  }

  .u-section-7 .u-image-6 {
    margin-top: -21px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 427px;
  }

  .u-section-7 .u-image-7 {
    margin-left: 144px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 474px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 431px;
    margin-left: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-2 {
    margin-right: 11px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 19px;
  }

  .u-section-7 .u-image-2 {
    margin-left: 14px;
  }

  .u-section-7 .u-image-3 {
    margin-right: 19px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 76px;
  }

  .u-section-7 .u-image-5 {
    width: 540px;
    height: 293px;
    margin-right: 0;
  }

  .u-section-7 .u-image-6 {
    margin-top: -2px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 247px;
  }

  .u-section-7 .u-image-7 {
    width: 540px;
    height: 293px;
    margin-left: 0;
  }

  .u-section-7 .u-text-5 {
    margin-left: 294px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 294px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 476px;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 279px;
    margin-top: -68px;
    margin-left: 0;
  }

  .u-section-7 .u-image-3 {
    width: 340px;
    height: 435px;
    margin-top: 61px;
    margin-right: 0;
  }

  .u-section-7 .u-image-4 {
    width: 340px;
    height: 476px;
    margin-top: -324px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-image-5 {
    width: 340px;
    height: 184px;
  }

  .u-section-7 .u-image-6 {
    width: 340px;
    height: 295px;
    margin-top: 107px;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-top: -271px;
    margin-left: 47px;
  }

  .u-section-7 .u-image-7 {
    width: 340px;
    height: 184px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 94px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 94px;
  }
}

.u-section-7 .u-image-3,
.u-section-7 .u-image-3:before,
.u-section-7 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-image-1,
.u-section-7 .u-image-1:before,
.u-section-7 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-image-5,
.u-section-7 .u-image-5:before,
.u-section-7 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-image-7,
.u-section-7 .u-image-7:before,
.u-section-7 .u-image-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-image-6,
.u-section-7 .u-image-6:before,
.u-section-7 .u-image-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-8 .u-sheet-1 {
  min-height: 290px;
}

.u-section-8 .u-group-1 {
  min-height: 290px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin: 0 auto;
}

.u-section-8 .u-line-1 {
  width: 464px;
  transform-origin: right center 0px;
  margin: 10px auto 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-8 .u-btn-1 {
  font-weight: 700;
  font-size: 1rem;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(128,128,128,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  border-style: solid;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
  margin: 30px auto 0;
  padding: 8px 20px 8px 19px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-line-1 {
    width: 320px;
  }
}

.u-section-8 .u-btn-1,
.u-section-8 .u-btn-1:before,
.u-section-8 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-8 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-8 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}